body {
  padding-top: 4rem;
  background-color: rgba(189, 224, 254);
  color: grey;
}

h1{
  color: black;
  font-family: fantasy;
}

p{
  color: black;
  font-family:monospace;
}
h5{
  color: black;
  font-family:monospace;
}
small{
  color: black;
  font-family:monospace;
}

.container{
    text-align: center;
}

.jumbotron{
  background-color: rgba(162, 210, 255,0.5);
}

.col{
  color: black;
}

}
#jumboo2{
  background-color: rgb(245, 202, 195);
}
#bodyy{
  background-color: rgb(255, 221, 210);
}

#cardgrouplookbook{
  background-color: rgb(255, 221, 210);
}


#jumb{
  background-color: rgb(233, 196, 106);
}
#bodyyy{
  background-color: rgb(253, 196, 63);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: blue;
}

#overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: yellow;
}
#container:hover .overlay {
  opacity: 0.5;
}

#container2:hover .overlay2 {
  opacity: 1;
}

#text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


#bodyyyy{
  background-color: rgb(224, 170, 255);
}
